<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi blog</title>
</head>

<body>
    <header>
        <h1><a href="/">El blog de Daniel</a></h1>
    </header>

    <article>
        <time>Published: 01.08.2024, 19:20</time>
        <h2><a href="">My first post!</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolorum placeat quidem laboriosam ducimus labore
            impedit veritatis ab illo vitae.</p>
    </article>

    <article>
        <time>Published: 06.08.2024, 20:10</time>
        <h2><a href="">My second post!</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolorum placeat quidem laboriosam ducimus labore
            impedit veritatis ab illo vitae.</p>
    </article>
</body>

</html>